<p>Añadir comentario:</p>
<form method="post" action="/quizes/<%=quizId%>/comments/">
	<input type="text" id="comment" name="comment[texto]" placeholder="Introduce el comentario..."/>
	<button type="submit">Enviar</button>
</form>